/* ------------GLOBE SETTING--------------- */
*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
    font-size: 16px;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

:root{
    --bgColor:#01b9e5;
    --mainColor:rgb(255,255,255);
    --bgfcColor:#377d83;
    --textColor:rgb(237,91,62);
    --textSaleColor:#6d6361;
}

/* ĐƯỜNG LINE */

.circle{
    text-align: center;
    color: rgb(31, 186, 227);
}

.circle_item{
    position: relative;
    font-size: 30px;
    font-family: sans-serif;
    /* font-weight: bold; */
}

.circle_item::before{
    content: "";
    width: 70px;
    height: 1px;
    border: 1px solid var(--bgColor);
    position: absolute;
    top : 25px;
    left: -75px;
    background-color: var(--bgColor);
}

.circle_item::after{
    content: "";
    width: 75px;
    height: 1px;
    border: 1px solid var(--bgColor);
    background-color: var(--bgColor);
    position: absolute;
    top : 25px;
    left: 25px;
}

/* BUTTON TƯ VẤN */

.btnTuvan{
    height: 8.5rem;
    width: 28rem;
    background-image: url(../img/tuvan.png);
    background-size: cover;
    background-position: center center;
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    margin: 4rem auto;
    display: block;
    
}

.btnTuvan:hover{
    opacity: 0.6;
}

/* TIEU ĐỀ TRANG */
.titlePage{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 2rem;
    padding: 5rem 0 1rem 0;
}
/* --------------GLOBE SETTING------------------ */

/* ------------------- BEGIN HEADER ------------------- */
.header{
    width: 100%;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bgColor);
    
}

.logo-sologan{
    position: relative;
}

.logo-sologan img{
    height: 3rem;
    margin-bottom: 0.5rem;
}

.logo-sologan a{
    text-decoration: none;  
}

.logo-sologan span {
    color: var(--mainColor);
    font-size: 1.4rem;
    vertical-align: top;
    padding: 1rem;
    font-weight: bold;
    position: absolute;
    top:-10%;
    left: 100%;
}



.nav button{
    background-color: var(--bgColor);
    border: 2px solid var(--mainColor);
    height: 2.5rem;
    color: var(--mainColor);
    padding: 0.5rem;
    margin-right: 1rem;
    font-weight: bold;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

.nav button:hover{
    opacity: 0.5;
}


.nav img{
    height: 1rem;
}

/* ------------- END HEADER ----------------- */



/*-------------- BEGIN COVER ---------------- */
.cover{
    background-image: url(../img/Slide_3.jpg);
    background-size: cover;
    background-position: left;
    height: 40rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.dangky{
    height: 35rem ;
    width: 35%;
    background-color: var(--mainColor);
    margin-right: 2%;
    padding: 1.5%;
}

/* BEGIN GIOITHIEU */
.gioithieu{
    height: 9rem;
    width: 100%;
    position: relative;
}


.gioithieu p:first-child{
    color: var(--textColor);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.gioithieu p:nth-child(2){
    text-transform: uppercase;
    color: var(--textColor) ;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    text-align: right;
}

.gioithieu p:nth-child(4){
    font-size: 0.8rem;
    /* display: inline-block; */
    text-align: center;
    padding:1.5% 0 1.5% 2%;
}

.gioithieu #iconQua{
    background-image: url(..//img/sale.png);
    background-position: -111px 50px;
    display: inline-block;
    width: 37px;
    height: 39px;
    position: absolute;
    top:25%;
    left: 9%;
}

.gioithieu p:nth-child(5){
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--textSaleColor);
    margin: 5% 0 0 -15%;
}

#iconSale{
    background-image: url(../img/sale.png);
    background-position: 0 0;
    width: 107px;
    height: 70px;
    display: inline-block;
    position: absolute;
    left: 66% ;
    top: 48%;
}

/* END GIOITHIEU */

/* BEGIN COUNDOWNTIEMR */
.countdown_timer{
    width: 100%;
    height: 5.5rem;
    /* background-color: var(--bgColor); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1%;
}

.countdown_timer_item{
    /* background-color: navy; */
    height: 100%;
    width: 20%;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 70% 30% ;
    grid-gap: 1%;
}

.countdown_timer_day:first-child, .countdown_timer_day:nth-child(2),
.countdown_timer_hour:first-child,.countdown_timer_hour:nth-child(2),
.countdown_timer_min:first-child,.countdown_timer_min:nth-child(2),
.countdown_timer_sec:first-child,.countdown_timer_sec:nth-child(2){
    background-color: #6d636114;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-bottom: -0.4rem;  
}

.countdown_timer_day:last-child,.countdown_timer_hour:last-child,
.countdown_timer_min:last-child,.countdown_timer_sec:last-child{
    grid-column: 1/span 2;
    /* color: var(--mainColor); */
    font-size: 1.4rem;
    text-align: center;
    margin-top: 0.2rem
}
/* END COUNTDOWNTIME */

/* BEGIN FORM */
.form_dangky{
    width: 100%;
    height: 16rem;
    margin-top: 1.5rem;
}

.form_dangky input{
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    border: 1px solid #918a885e;
    font-size: 1.2rem;
}

.form_dangky button{
    width: 100%;
    height: 3rem;
    color: var(--mainColor);
    font-size: 1.5rem;
    background-color: var(--bgColor);
    border: 1px solid var(--bgColor);
    border-radius: 0.3rem;

}

.form_dangky button:hover{
    opacity: 0.6;
}
/* END FORM */



/*---------------- END COVER ---------------------- */




/* ---------------- BENGIN About ----------------- */
.article_about{
    text-align: center;
    color: var(--mainColor);
    background-color: var(--bgColor);
}

.article_about p{
    font-size: 1.2rem;
    padding: 2rem 10rem 4rem 10rem;
}

/* ------------------ END About ------------------ */

/*---------------- BEGIN ARTICLE INTRO ------------------*/


.article_intro{
    text-align: center;
}

.article_intro .titlePage{
    text-transform: uppercase;
}

/* BEGIN DIV INTRO-LESSON */

.intro_lesson{
    margin: 0 auto;
    /* background-color: navy; */
    height: 60rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    

}

.intro_lesson_item{
    width: 100%;
    height: 10rem;
    /* background-color: pink; */
    /* border: 1px solid red; */
    position: relative;
}

.intro_lesson_item img{
    width: 32%;
    height: 119%;
    margin-top: 1.5rem;
}

.item_img_left{
    text-align: left;
}

.item_img_left .lesson_info{
    width: 60%;
    position: absolute;
    top:  40%;
    left: 35%;
}

.item_img_right{
    text-align: right;
}

.item_img_right .lesson_info{
    text-align: left;
    width: 60%;
    position: absolute;
    top: 35%;
    
}

.lesson_info h2{
    margin-bottom: 2rem;
    padding-left: 1rem;
    border-left: 3px solid var(--textColor);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}


/* END DIV INTRO-LESSON  */


/* -------------- END ARTICLE INTRO ---------------- */



/* ----------------- BEGIN CHIA SE HOC VIEN ----------------- */
.chiaSeHV{
    background-color: var(--bgColor);
    text-align: center;
    color: var(--mainColor);
}

.chiaSeHV .circle{
    color: var(--mainColor);
}

.chiaSeHV .circle .circle_item::after,.chiaSeHV .circle .circle_item::before{
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}

.chiaSeHV_box{
    /* background-color: blue; */
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    height: 70%;
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.chiaSeHV_item{
    background-color: var(--mainColor);
    border: 2px solid var(--textColor);
    height: 100%;
    width: 28%;
    margin: 0 -2rem;
    color: #000;
    position: relative;
}

.chiaSeHV_item p:first-child {
    font-family: sans-serif;
    font-size: 1rem;
    text-align: left;
    padding: 1rem 1rem 1rem 3rem;
    line-height: 2rem;
    font-weight: 200;
    color: #000;

}

.chiaSeHV_item p:first-child::before{
    content: "“";
    position: absolute;
    top:2.2rem;
    left: 0.5rem;
    font-size: 5.5rem;
    color: var(--textColor);
}

.student_info{
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-auto-rows: 30% 30% 30%;
    text-align: left;
    grid-row-gap: 7%;
    margin: 4rem 0 1.5rem 0 ;
    padding-left: 0.8rem;
    position: relative;
}

.student_info_img_1{
    grid-row: 1/span 3;
    background-image: url(..//img/thebao.jpg);
    background-size: cover;
    background-position: center center;
    height: 105%;
    width: 80%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    top: -10px;
    left: 10px;
}

.student_info_img_2{
    grid-row: 1/span 3;
    background-image: url(..//img/hong_nhung.jpg);
    background-size: cover;
    background-position: center center;
    height: 105%;
    width: 80%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    top: -10px;
    left: 10px;
}

.student_info_img_3{
    grid-row: 1/span 3;
    background-image: url(..//img/minh_thu.jpg);
    background-size: cover;
    background-position: center center;
    height: 105%;
    width: 80%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    top: -10px;
    left: 10px;
}

.student_info p:nth-child(2){
    color: var(--bgColor);
    font-weight: bold;
    font-family: sans-serif;
}

.student_info p:nth-child(3){
    font-style: italic;
}

.student_info p span{
    color: #337ab7;
}
/* -------------END CHIA SE HOC VIEN---------------- */


/* ----------------- BEGIN CLASSROOM --------------- */
.class_room{
    text-align: center;
}

.class_room_video{
    display: flex;
    /* background-color: #337ab7; */
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 5% auto;
}

.class_room_video_item{
    height: 250px;
    width: 30%;
    /* background-color: brown; */
}

.class_room_video_item p{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.class_room .btnTuvan{
    margin: 2rem auto;
}

.class_room img{
    width: 40%;
    margin-top: -2rem;
    padding-bottom: 3rem;
}
/* ------------------ END CLASSROOM ---------------- */

/* ---------------- BENGIN TEAMTEACHER --------------- */


.box_team_teacher{
    background-color: var(--bgColor);
    text-align: center;
    color: var(--mainColor);
}

.teacher_sologan {
    width: 45%;
    margin: 1rem auto;
}

.box_team_teacher .circle_item{
    color: var(--mainColor);
}

.box_team_teacher .circle_item::before,.box_team_teacher .circle_item::after{
    border-color: var(--mainColor);
    background-color: var(--mainColor);
}

.team_teacher_btn{
    padding-bottom: 1rem;
    width: 60%;
    margin: 0% auto;
}

.team_teacher{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: 187px 187px;
    grid-column-gap: 2%;
    grid-row-gap: 0.8rem;
    /* position: relative; */
}

.teacher{
    background: #377d83;
    border-radius: 55%;
    -webkit-border-radius: 55%;
    -moz-border-radius: 55%;
    -ms-border-radius: 55%;
    -o-border-radius: 55%;
    overflow: hidden;
    position: relative;
}

.teacher img{
    position: absolute;
    top: 70%;
    left: 22%;
}

.teacher::before{
    content: "";
    width: 400px;
    height: 400px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) translateY(50%);
    -webkit-transform: translate(-50%,-50%) translateY(50%);
    -moz-transform: translate(-50%,-50%) translateY(50%);
    -ms-transform: translate(-50%,-50%) translateY(50%);
    -o-transform: translate(-50%,-50%) translateY(50%);
    color: var(--mainColor);
    text-align: center;
    padding-top: 0.8rem;
    font-weight: bold;
}

.team_teacher .teacher:nth-child(1){
    background-image: url(..//img/36043245002_24b2dedf58_z.jpg);
    background-position: center;
    background-size: cover;
}

.team_teacher .teacher:nth-child(1)::before{
    content: "Giáo viên Monica";
}
.team_teacher .teacher:nth-child(2)::before{
    content: "Giáo viên Hazel";
}
.team_teacher .teacher:nth-child(3)::before{
    content: "Giáo viên Liezel";
}
.team_teacher .teacher:nth-child(4)::before{
    content: "Giáo viên Mr. A";
}
.team_teacher .teacher:nth-child(5)::before{
    content: "Giáo viên Jong";
}
.team_teacher .teacher:nth-child(6)::before{
    content: "Giáo viên Faith";
}
.team_teacher .teacher:nth-child(7)::before{
    content: "Giáo viên Uary";
}
.team_teacher .teacher:nth-child(8)::before{
    content: "Giáo viên Rose Jane";
}



.team_teacher .teacher:nth-child(2){
    background-image: url(..//img/36209877985_7e720f08c1_z.jpg);
    background-position: center;
    background-size: cover;
}
.team_teacher .teacher:nth-child(3){
    background-image: url(..//img/36209878185_184d93af98_z.jpg);
    background-position: center;
    background-size: cover;
}
.team_teacher .teacher:nth-child(4){
    background-image: url(..//img/36043245072_1250c86334_z.jpg);
    background-position: center;
    background-size: cover;
}
.team_teacher .teacher:nth-child(5){
    background-image: url(..//img/36043245362_4924bde6af_z.jpg);
    background-position: center;
    background-size: cover;
}
.team_teacher .teacher:nth-child(6){
    background-image: url(..//img/36043245442_653d887438_z.jpg);
    background-position: center;
    background-size: cover;
}
.team_teacher .teacher:nth-child(7){
    background-image: url(..//img/36043245492_2a3da3e6a3_z.jpg);
    background-position: center;
    background-size: cover;
}
.team_teacher .teacher:nth-child(8){
    background-image: url(..//img/36168772386_9bf16ca012_z.jpg);
    background-position: center;
    background-size: cover;
}


.box_team_teacher .btnTuvan{
    background-color: var(--bgColor);
    border-color: var(--bgColor);
}
/* ----------------- END TEAMTEACHER ---------------- */

/* ----------------- BEGIN HOW TO STUDY ------------------- */
.how_to_study{
    text-align: center;
    background-color: rgb(241, 241, 241);
}

.how_to_study .titlePage{
    font-weight: bold;
}

.study_form{
    width: 70%;
    margin: 0% auto;
    padding-bottom: 1%; 
}

.study_form .btnTuvan{
    background-color: rgb(241, 241, 241);
    border-color:  rgb(241, 241, 241);
}

.study{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background-color: blue; */
}

.study .study_item{
    width: 30%;
    height: 20rem;
    /* background-color: yellowgreen; */
    text-align: left;
    line-height: 1.2rem;
}

.study_item img{
    width: 100%;
    height: 12rem;
}

.study_item .text{
    margin-top: 2%;
}


/* ---------------- END HOW TO STUDY ------------------ */

/* ---------------- BEGIN CUSTOMER & PARTNER ---------------- */
.customer_partner{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    height: 20rem;
    position: relative;
}

.customer_partner img{
    width: 70%;
    height: 9rem;
    margin-top: 2%;
    padding-bottom: 5%;
}



/* ---------------- END CUSTOMER & PARTNER -------------- */

/*----------------------- BEGIN FOOTER--------------- */
.footer{
    width: 100%;
    background-color: rgb(63, 82, 103);
    height: 50rem;
    position: relative;
}

.ttLienHe_Page{
    /* background-color: #377d83; */
    width: 100%;
    height: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    
}

.ttLienHe{
    width: 85%;
    height: 35rem;
    margin: 0 auto;
}

.title_ttLienHe{
    font-size: 2rem;
    color: var(--mainColor);
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    margin: 0 0 4% 0;
    
}

.title_ttLienHe::before{
    content: "";
    border: 1px solid var(--bgColor);
    width: 4%;
    height: 1px;
    top: 150%;
    position: absolute;
    background-color: var(--bgColor);
    margin-top:0.5%
}

.ttLienHe_List{
    list-style: none;
    color: var(--bgColor);
    font-weight: bold;
    font-family: sans-serif;
    width: 55%;
}

.ttLienHe_List li{
    margin-top: 1%
}

.ttLienHe_List li:first-child{
    color: var(--mainColor);
    font-size: 1.2rem;
    font-weight: normal;    
}


.icon_edit {
    font-size: 2rem;
    margin-top:1%;
}

.text_link{
    text-decoration: none;
    color: var(--bgColor);
    letter-spacing: 0.1rem;
    word-spacing: 1rem;
}

.ttLienHe_List li:nth-child(3) .text_link{
    word-spacing: 0.8rem;
}

.ttLienHe_List li:last-child{
    letter-spacing: 0.5rem;
    margin-top: 5%;
}

.icon_link{
    text-decoration: none;
    color: var(--bgColor);
}

.icon_link:hover, .text_link:hover {
    opacity: 0.5;
}

.ttDiaChi_container{
    padding: 2% 0;
    border-top: 1px solid #a1a1a1;
    color: #afafaf;
    width: 100%;
}

.ttDiaChi{
    width: 85%;
    margin: 0 auto;
    border-top: 1 solid #afafaf;
}

.ttDiaChi p {
    font-size: 1.3rem;
}

/* ------------------- END FOOTER ---------------- */