// Color
$color-white:white;
$color-black:black; 
$color-blue:#0678bc;
$color-blue-light:#2096cd;
$color-gray:#626466;
$color-grey:#a7a7a7;
$color-navy:#102b4e;
$color-light:#f7f7f7;
$color-dark:#425968;
$color-opacity-dark:rgba(85, 85, 85, 0.8);
$color-opacity-blue: rgba(6,120,188,0.5);
$color-footer-navbar:#333;
$color-footer-body:#242424;

//Font-weight
$fw-bold:bold;
$fw-normal:normal;
$fw-bold-500:500;

//Font-size
$fs-1:1.4rem;
$fs-2:14px;
$fs-3:16px;
$fs-4:18px;
$fs-5:24px;
$fs-6:28px;
$fs-7:42px;
$fs-8:30px;
$fs-9:60px; 

//Padding
$pd-tile:4%;

$pd-a:5px;
$pd-0:10px;
$pd-1:15px;
$pd-2:18px;
$pd-3:20px;
$pd-4:25px;
$pd-5:30px;
$pd-6:45px;
$pd-7:50px;
$pd-8:75px;


//margin
$mg-am-1:-8;

$mg-0:2px;
$mg-1:5px;
$mg-2:10px;
$mg-3:18px;
$mg-4:20px;
$mg-5:25px;
$mg-6:30px;
$mg-7:35px;
$mg-8:40px;
$mg-9:50px;


//line-height
$lh-1:15px;
