<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CyberSoft Academy</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon.png">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../assets/Vendors/Particles/particles.css">
    <link rel="stylesheet" href="../../assets/Vendors/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="../../assets/Vendors/jquery-ui/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="../../assets/Vendors/Loader/styleLoaderIndex.css">
    <link rel="stylesheet" href="../../assets/css/style.css">

</head>

<body>
    <button id="myBtn" title="Go to top">
        <i class="fa fa-plane"></i>
    </button>
    <!-- BEGIN HEADER -->
    <header id="header">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html">
                <img src="../../assets/img/logo.png" alt="hinhLogo">
            </a>
            <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
                aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 " type="text" id="timkhoahoc" placeholder="Tìm khóa học">
                    <button class="btn btn-outline-dark my-2 my-sm-0">Search</button>
                    <div id="divItemSearch" class="border border-dark rounded">
                        <p id="titleSearch"></p>
                        <div class="container px-0 mx-0" id="listDSKHTK">

                        </div>
                    </div>
                </form>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Trang Chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./layouts/gioithieu.html">Giới Thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="danhsachkhoahoc" href="./layouts/danhsachkhoahoc.html">Khóa Học</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./layouts/lienhe.html">Liên Hệ</a>
                    </li>
                    <li class="nav-item dropdown" id="doneLogin">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" id="tenUserLogin">

                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="./user.html"><i class="fa fa-cog mr-2"></i>Cài Đặt</a>
                            <a class="dropdown-item" href="./index.html" id="logOut"><i class="fa fa-sign-out mr-2"></i>Thoát</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER -->

    <!-- BEGIN SLIDER -->
    <!-- <section class="slider" id="pageSlider">
        <div class="over-slider" id="particles-js"></div>
        <div class="slider-caption text-center">
            <h1 class="display-4">CYBERSOFT</h1>
            <p>Đào Tạo Chuyên Viên Lập Trình</p>
        </div>
    </section> -->
    <!-- END SLIDER -->

    <!-- BEGIN MAIN -->
    <main id="mainContent">
        <section class="user">
            <div class="container-fluid">
                <div class="row">
                    <div class="title-User text-center">
                        <div class="userImg">
                            <img src="../../assets/img/user.png" class="img-fluid" alt="">
                        </div>
                        <h1 class="display-4" id="nameUser">Tên User</h1>
                        <div class="cssload-container mt-3" id="ghidanhLoader">
                            <div class="cssload-l">L</div>
                            <div class="cssload-circle"></div>
                            <div class="cssload-square"></div>
                            <div class="cssload-triangle"></div>
                            <div class="cssload-i">I</div>
                            <div class="cssload-n">N</div>
                            <div class="cssload-g">G</div>
                        </div> 
                    </div>
                </div>
                <div class="container content pt-5 mt-5">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#listKH" id="laykhoahoc"> Khóa học của bạn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#ttTaiKhoan">Thông tin tài khoản</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#doiMKUser">Đổi mật khẩu</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="home" class="container tab-pane pt-5 text-center active"><br>
                            <img src="../../assets/img/logo.png" alt="">
                            <h1 class="pt-5 display-4">Wellcome to CyberSoft</h1>
                            <p>Tiếp tục hành trình của bạn nào...</p>
                        </div>
                        <div id="listKH" class="container tab-pane fade"><br>
                            <h3 class="text-center py-5" id="titleDSKH">Những khóa học bạn đã ghi danh</h3>
                            <div class="row" id="dskh">
                                <h4 class="text-center">Hiện bạn chưa ghi danh bất kỳ khóa học nào</h4>
                            </div>
                        </div>
                        <div id="ttTaiKhoan" class="container tab-pane fade">
                            <div class="row pt-5">
                                <div class="col-md-8 right">
                                    <div class="form-group">
                                        <label for="name">Họ tên</label>
                                        <input type="text" class="form-control" placeholder="Họ và tên" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="usr">Email</label>
                                        <input type="text" class="form-control" id="email" placeholder="Địa chỉ Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="usr">Số điện thoại</label>
                                        <input type="text" class="form-control" id="soDT" placeholder="Số điện thoại">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="btnSave text-center mt-5">
                                        <a href="#ttTaiKhoan" class="btn btnLuuTT" id="luuTTND">Lưu Lại</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="doiMKUser" class="container tab-pane fade"><br>
                            <div class="row">
                                <div class="col-md-6 pt-5">
                                    <div class="form-group" id="divError" style="color:brown;background-color: whitesmoke;">
                                    </div>
                                    <div class="form-group">
                                        <label for="usr">Mật khẩu cũ</label>
                                        <input type="password" class="form-control" id="pwdUserOld" placeholder="Mật khẩu cũ">
                                    </div>
                                    <div class="form-group">
                                        <label for="usr">Mật khẩu mới</label>
                                        <input type="password" class="form-control" id="pwdUserNew" placeholder="Mật khẩu mới">
                                    </div>
                                    <div class="form-group">
                                        <label for="usr">Nhập lại mật khẩu mới</label>
                                        <input type="password" class="form-control" id="pwdUserNew2" placeholder="Ngày tháng năm sinh">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="btnSave text-center mt-5" >
                                        <a href="#doiMKUser" class="btn btnLuuTT" id="doiMK">Lưu Lại</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </div>
            </div>
        </section>
    </main>
    <!-- END MAIN -->
    <!-- BEGIN FOOTER -->
    <footer id="footer" class="pt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-12 px-4 footer-left">
                    <a href="./index.html">
                        <img src="../../assets/img/cybersoft-logo-min.png" alt="logo-footer">
                    </a>
                    <p>CyberSoft Academy là học viện tiên phong tại Việt Nam áp dụng phương pháp đào tạo Active
                        Learning và Flipped
                        Learning thông qua các dự án thực tiễn trong lĩnh vực đào tạo CNTT. Học viên sẽ đóng vai trò là
                        một Scrum member
                        trong mô hình Agile để trở thành một lập trình chuyên nghiệp, đáp ứng mọi nhu cầu tuyển dụng
                        của Doanh nghiệp
                    </p>
                </div>
                <div class="col-md-3 col-12 px-4 footer-mid">
                    <h4>THÔNG TIN</h4>
                    <ul class="thongtin">
                        <li><a href="./index.html">Trang chủ</a></li>
                        <li><a href="./layouts/gioithieu.html">Giới thiệu</a></li>
                        <li><a href="./layouts/danhsachkhoahoc.html">Danh sách khóa học</a></li>
                        <li><a href="./layouts/lienhe.html">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-12 px-4 footer-right">
                    <h4>LIÊN HỆ ĐỂ ĐƯỢC TƯ VẤN</h4>
                    <ul class="thongtin">
                        <li><span>Cơ sở 1 :</span> 459 Sư Vạn Hạnh, Quận 10 - HCM</li>
                        <li><span>Cơ sở 2 :</span> 82 Ung Văn Khiêm, Quận Bình Thạnh (cuối đường D2 - gần ĐH HuTech) -
                            HCM</li>
                        <li>
                            <span>T :</span>
                            +84 961.05.10.14
                        </li>
                        <li>
                            <span>E :</span> info@cybersoft.edu.vn
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
    <!-- Flie JQUERY -->
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Script JQUERY-UI -->
    <script src="../../assets/Vendors/jquery-ui/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("#ngaysinh").datepicker({
                dateFormat: "mm/dd/yy"
            });
        });
    </script>
    <!-- File Owl-carousel -->
    <script src="../../node_modules/owl.carousel/dist/owl.carousel.min.js"></script>

    <!-- File particles.min.js -->
    <script src="../../assets/Vendors/Particles/particles.min.js"></script>
    <script src="../../assets/Vendors/Particles/stats.js"></script>
    <script src="../../assets/Vendors/Particles/app.js"></script>

    <!-- File JS -->
    <script src="../../assets/js/index.js"></script>

    <!-- Script common -->
    <script src="../../assets/Vendors/common.js"></script>
    <script src="../../assets/Vendors/kiemtraForm.js"></script>
    <script src="../../assets/Vendors/jQueryNhapNhay/dist/js/NhapNhay.js"></script>
    <!-- Model Người Dùng & Khóa Học-->
    <script src="../Models/nguoidung.js"></script>
    <script src="../Models/danhsachnguoidung.js"></script>
    <script src="../Models/khoahoc.js"></script>
    <script src="../Models/danhsachkhoahoc.js"></script>
    <!-- Service Người Dùng & Service Khóa Học -->
    <script src="../Services/nguoidungService.js"></script>
    <script src="../Services/khoahocService.js"></script>
    <!-- Script SweetAlert -->
    <script src="../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Script quản lý user HV -->
    <script src="../Controllers/quanlyuser.js"></script>
</body>

</html>
<!-- BEGIN DANH SÁCH KHÓA HỌC -->