.bg-img{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
}

.text-before{
    @include text($color-black,$fs-4,$fw-bold);
            margin: $mg-8 0 $mg-4 0 ;
            line-height: 1.5;
            position: relative;
            &::before{
                content: "";
                height: 114px;
                width: 125px;
                z-index: -1;
                top: -64px;
                left: 0;
                @extend .bg-img;
                background-image: url(../img/code-watermark.svg);
                position: absolute;
            }
}
