*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif; }

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%; }

.carousel-control-prev, .carousel-control-next {
  width: 7%;
  opacity: 1; }

.carousel-control-prev i, .carousel-control-next i {
  font-size: 30px; }

.owl-nav .owl-prev {
  position: absolute;
  top: 0px;
  left: 5px; }
  .owl-nav .owl-prev span {
    font-size: 70px; }
.owl-nav .owl-next {
  position: absolute;
  top: 0px;
  right: 5px; }
  .owl-nav .owl-next span {
    font-size: 70px; }

.btn, .btn--black, .btn--blue, .btn--white {
  font-size: 20px;
  padding: 5px 10px; }

.txt, .cover .carousel-caption .text-gray, .intro .intro__box__left h3, .intro .intro__box__left p, .intro .intro__box__right h3, .intro .intro__box__right p, .product .product__title, .product .product__content h3, .product .product__content p, .cars h1, .footer p {
  color: black;
  font-size: 15px;
  font-weight: normal; }

.intro__img, .--left, .--right {
  height: 350px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }

.product__item, .product .--one, .product .--two, .product .--three, .product .--four, .product .--five, .product .--six {
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }

@keyframes fadeInDown {
  0% {
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    transform: rotate(xx) translateY(0);
    opacity: 1; } }
.btn--black {
  color: #999 !important;
  background-color: black;
  border-radius: 5px; }
  .btn--black:hover {
    background-color: #00adef;
    color: black !important; }

.btn--blue {
  color: white !important;
  background-color: #00adef;
  border-radius: 40px;
  padding: 5px 20px; }
  .btn--blue:hover {
    background-color: white;
    color: black !important; }

.btn--white {
  color: white !important;
  background-color: transparent;
  border-radius: 40px;
  padding: 5px 20px;
  border: 2px solid white; }
  .btn--white:hover {
    background-color: white;
    color: black !important; }

.navbar--black {
  background-color: black !important; }
  .navbar--black .navbar-brand img {
    width: 70px;
    margin-right: 30px; }
  .navbar--black .navbar-brand span {
    padding-right: 10px;
    border-right: 1px solid white; }
  .navbar--black .nav-item {
    margin-left: 10px; }
    .navbar--black .nav-item .nav-link {
      color: #999;
      font-size: 15px; }
      .navbar--black .nav-item .nav-link p {
        margin-bottom: 5px; }
      .navbar--black .nav-item .nav-link:hover {
        color: #00adef; }

.cover .carousel-caption {
  bottom: unset;
  right: unset;
  top: 50px;
  left: 7%;
  animation: fadeInDown 1s forwards 0s linear; }
  .cover .carousel-caption .line {
    width: 20%;
    height: 4px;
    background-color: white;
    margin-bottom: 20px; }
  .cover .carousel-caption h1 {
    font-size: 40px;
    margin-bottom: 20px; }
  .cover .carousel-caption .text-gray {
    color: #999;
    font-size: 40px;
    font-weight: normal; }

.intro {
  padding: 30px 0; }
  .intro .intro__title {
    font-size: 40px;
    margin-bottom: 20px; }
  .intro .intro__box__left {
    position: absolute;
    bottom: 10%;
    left: 0;
    padding: 0 30px; }
    .intro .intro__box__left h3 {
      color: white;
      font-size: 20px;
      font-weight: normal; }
    .intro .intro__box__left p {
      color: white;
      font-size: 15px;
      font-weight: normal; }
  .intro .intro__box__right {
    position: absolute;
    width: 50%;
    top: 20%; }
    .intro .intro__box__right h3 {
      display: inline-block;
      color: white;
      font-size: 20px;
      font-weight: normal;
      background-color: black;
      padding: 10px 20px; }
    .intro .intro__box__right p {
      color: white;
      font-size: 20px;
      font-weight: normal;
      margin-top: 20px; }

.--left {
  background-image: url(../../img/our-vehicle-intro-1.jpg); }

.--right {
  background-image: url(../../img/our-vehicles-intro-2.jpg); }

.product {
  background-color: black;
  margin-top: -14rem; }
  .product .product__title {
    padding-top: 14rem;
    color: white;
    font-size: 40px;
    font-weight: normal; }
  .product .product__nav {
    width: fit-content;
    margin: 0 auto; }
    .product .product__nav .product__tab {
      background: linear-gradient(#303030, #202020) !important;
      border: 1px outset #202020; }
      .product .product__nav .product__tab.active {
        color: #00adef !important; }
      .product .product__nav .product__tab:not(active) {
        color: #999 !important; }
  .product .pd-0 {
    padding: 0 5px; }
  .product .--one {
    background-image: url(../../img/xe-1.png); }
  .product .--two {
    background-image: url(../../img/xe-2.png); }
  .product .--three {
    background-image: url(../../img/xe-3.png); }
  .product .--four {
    background-image: url(../../img/xe-4.png); }
  .product .--five {
    background-image: url(../../img/xe-5.png); }
  .product .--six {
    background-image: url(../../img/xe-6.png); }
  .product .product__content {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 1s; }
    .product .product__content h3 {
      color: white;
      font-size: 30px;
      font-weight: normal; }
    .product .product__content p {
      color: white;
      font-size: 15px;
      font-weight: normal;
      transition: all 1s; }
  .product .product__item:hover .product__content, .product .--one:hover .product__content, .product .--two:hover .product__content, .product .--three:hover .product__content, .product .--four:hover .product__content, .product .--five:hover .product__content, .product .--six:hover .product__content {
    background-color: rgba(0, 0, 0, 0.8); }
    .product .product__item:hover .product__content p, .product .--one:hover .product__content p, .product .--two:hover .product__content p, .product .--three:hover .product__content p, .product .--four:hover .product__content p, .product .--five:hover .product__content p, .product .--six:hover .product__content p {
      padding-bottom: 80px; }

.cars {
  background-color: black; }
  .cars h1 {
    color: white;
    font-size: 40px;
    font-weight: normal; }
  .cars .border-bt {
    border-bottom: 1px solid #dee2e6 !important; }
  .cars .cars__list {
    padding: 30px 30px;
    position: relative; }

.footer p {
  color: black;
  font-size: 20px;
  font-weight: normal; }

/*# sourceMappingURL=main.css.map */
