a, a:hover, a:visited {
  text-decoration: none !important; }

li {
  list-style: none; }

ul {
  margin: 0; }

*, body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px; }

body {
  overflow-x: hidden; }

header, nav, aside, section, article, main, footer {
  display: block; }

@keyframes aniItemHocVien {
  0% {
    width: 0; }
  50% {
    width: 100%; }
  100% {
    width: 0; } }
.bgImg, #myModal .modal-dialog .row .left {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

/* BACK TO TOP */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: #2e373d;
  background: #D4B03B;
  opacity: 0.5;
  cursor: pointer;
  padding: 10px 13px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px; }

#myBtn i {
  transform: rotate(-47deg);
  -webkit-transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  -ms-transform: rotate(-47deg);
  -o-transform: rotate(-47deg); }

.btnGhiDanh {
  width: 100%;
  padding: 15px 30px;
  background-color: #bb2035;
  color: #fff;
  text-transform: uppercase; }
  .btnGhiDanh:hover {
    color: #fff;
    opacity: 0.9; }

.btnModal {
  width: 100%;
  padding: 10px 100px;
  background-color: #D4B03B;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; }
  .btnModal:hover {
    color: #bb2035; }

#myModal .modal-dialog {
  transform: translate(0, 30%);
  -webkit-transform: translate(0, 30%);
  -moz-transform: translate(0, 30%);
  -ms-transform: translate(0, 30%);
  -o-transform: translate(0, 30%); }
  #myModal .modal-dialog .row {
    height: 350px; }
    #myModal .modal-dialog .row .left {
      position: relative;
      padding: 0;
      background-image: url("../img/picModal.jpg");
      z-index: 10;
      height: 100%; }
      @media screen and (max-width: 992px) {
        #myModal .modal-dialog .row .left {
          display: none; } }
      #myModal .modal-dialog .row .left .bgOver {
        background-color: rgba(0, 0, 0, 0.8);
        height: 100%; }
      #myModal .modal-dialog .row .left .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        width: 80%; }
        #myModal .modal-dialog .row .left .inner h3 {
          color: #fff;
          line-height: 45px; }
        #myModal .modal-dialog .row .left .inner .btnLeft {
          background-color: transparent;
          border: 1px solid #fff;
          color: #fff; }
          #myModal .modal-dialog .row .left .inner .btnLeft:hover {
            color: #bb2035; }
    #myModal .modal-dialog .row .right {
      position: relative;
      padding: 0; }
      #myModal .modal-dialog .row .right .closeModal {
        display: inline-block;
        padding: 0 10px;
        background-color: gray;
        font-size: 1.5rem;
        position: absolute;
        right: 0;
        color: #2e373d; }
        #myModal .modal-dialog .row .right .closeModal:hover {
          color: rgba(0, 0, 0, 0.8); }
      #myModal .modal-dialog .row .right .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        width: 80%; }
        #myModal .modal-dialog .row .right .inner h2 {
          text-align: center;
          margin-bottom: 20px; }
        #myModal .modal-dialog .row .right .inner .formQuenMK-content {
          padding: 0 15px; }
        #myModal .modal-dialog .row .right .inner .rightInput {
          border: 1px solid gray;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          padding-left: 10px; }
          #myModal .modal-dialog .row .right .inner .rightInput:nth-child(3) {
            padding-left: 15px; }
          #myModal .modal-dialog .row .right .inner .rightInput i {
            font-size: 1.2rem; }
          #myModal .modal-dialog .row .right .inner .rightInput input {
            border: none;
            display: inline;
            width: 90%;
            height: 40px;
            font-size: 1.2rem; }
            #myModal .modal-dialog .row .right .inner .rightInput input:focus {
              box-shadow: unset; }
          #myModal .modal-dialog .row .right .inner .rightInput input[type="password"] {
            padding-left: 20px; }
        #myModal .modal-dialog .row .right .inner #right-QuenMK {
          margin-left: 20px; }
        @media screen and (max-width: 992px) {
          #myModal .modal-dialog .row .right .inner .rightFooterFirst {
            display: block; } }
        #myModal .modal-dialog .row .right .inner .rightFooter {
          display: none; }
          @media screen and (max-width: 992px) {
            #myModal .modal-dialog .row .right .inner .rightFooter {
              display: block !important; } }
          #myModal .modal-dialog .row .right .inner .rightFooter .rightFooterRow {
            height: unset; }
            #myModal .modal-dialog .row .right .inner .rightFooter .rightFooterRow .btnRespon {
              padding: 10px 20px; }
  #myModal .modal-dialog #modalFooter {
    display: none; }
    @media screen and (max-width: 992px) {
      #myModal .modal-dialog #modalFooter {
        display: block;
        background-color: #acacac; } }
    #myModal .modal-dialog #modalFooter #signUpRespon {
      background-color: transparent;
      border: 1px solid #2e373d;
      color: #2e373d; }
      #myModal .modal-dialog #modalFooter #signUpRespon:hover {
        color: #bb2035; }

#header {
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 5px #fbfbfb;
  width: 100%; }
  @media screen and (max-width: 1200px) {
    #header .navbar .navbar-brand {
      margin-right: 10px; } }
  #header .navbar .navbar-brand img {
    height: 60px !important; }
  #header .navbar .navbar-toggler {
    border: 1px solid #2e373d; }
  @media screen and (max-width: 992px) {
    #header .form-inline input {
      width: 88%; } }
  @media screen and (max-width: 768px) {
    #header .form-inline input {
      width: 80%; } }
  @media screen and (max-width: 576px) {
    #header .form-inline input {
      margin-right: 10px; } }
  #header .nav-link {
    color: #2e373d;
    font-weight: 600; }
    @media screen and (max-width: 1200px) {
      #header .nav-link {
        font-size: 0.8rem; } }
    #header .nav-link:hover {
      color: #bb2035; }
  #header .active {
    color: #bb2035; }

#pageSlider {
  position: relative;
  background-image: url("../img/banner.jpg");
  background-position: bottom bottom;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 9; }
  #pageSlider .over-slider {
    background-image: linear-gradient(180deg, rgba(185, 43, 39, 0.5), #1565c0);
    z-index: 1; }
  #pageSlider .slider-caption {
    color: #fff !important;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
    #pageSlider .slider-caption h1 {
      letter-spacing: 10px; }
    #pageSlider .slider-caption p {
      word-spacing: 5px;
      letter-spacing: 2px;
      font-size: 1.5rem; }

#diemuuviet {
  position: relative; }
  #diemuuviet .diemuuvietItem #titleDiemUuViet h1 {
    color: var(--fontDiemUuViet);
    font-size: 4rem; }
  #diemuuviet .diemuuvietItem #titleDiemUuViet h4 {
    font-weight: normal; }
  #diemuuviet .diemuuvietItem .block {
    position: relative;
    padding-left: 85px;
    margin-bottom: 30px;
    padding-right: 10px;
    overflow: hidden; }
    #diemuuviet .diemuuvietItem .block:hover .number, #diemuuviet .diemuuvietItem .block:hover h4 {
      color: #D4B03B; }
    #diemuuviet .diemuuvietItem .block .number {
      position: absolute;
      left: 1%;
      top: -12px;
      font-style: italic;
      color: #454545;
      font-weight: 800;
      font-size: 92px; }
  #diemuuviet .bg-over {
    overflow: hidden;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 65%;
    height: 100%;
    -ms-transform: skewX(-20deg);
    /* IE 9 */
    -webkit-transform: skewX(-20deg);
    /* Safari 3-8 */
    transform: skewX(-20deg); }
    @media screen and (max-width: 1200px) {
      #diemuuviet .bg-over {
        width: 75%; } }
  #diemuuviet .bg-image2 {
    background-image: url(../img/training2.jpg);
    height: 100%;
    position: absolute;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    width: 60%;
    right: 0;
    overflow: hidden; }
    @media screen and (max-width: 1200px) {
      #diemuuviet .bg-image2 {
        width: 50%; } }
    @media screen and (max-width: 992px) {
      #diemuuviet .bg-image2 {
        width: 0%; } }

#khoahoc {
  padding: 10px 0; }
  #khoahoc .title-khoahoc {
    padding: 0 200px 30px 200px; }
    @media screen and (max-width: 1200px) {
      #khoahoc .title-khoahoc {
        padding: 0 0 30px 0; } }
    #khoahoc .title-khoahoc h1 {
      line-height: 50px;
      text-transform: uppercase;
      font-size: 2rem;
      margin: 0; }
      @media screen and (max-width: 992px) {
        #khoahoc .title-khoahoc h1 {
          font-size: 1.2rem; } }
    #khoahoc .title-khoahoc span {
      font-size: 40px;
      letter-spacing: 10px;
      text-transform: uppercase; }
      @media screen and (max-width: 992px) {
        #khoahoc .title-khoahoc span {
          font-size: 1.5rem; } }
    #khoahoc .title-khoahoc p {
      text-align: center;
      line-height: 30px;
      color: #acacac;
      word-spacing: 2px;
      font-weight: 500; }
      @media screen and (max-width: 768px) {
        #khoahoc .title-khoahoc p {
          font-size: 0.8rem; } }
  #khoahoc .owl-carousel .owl-stage-outer {
    height: 150px; }
    #khoahoc .owl-carousel .owl-stage-outer .owl-stage {
      height: 150px;
      width: 50px;
      overflow-y: hidden; }
      @media screen and (max-width: 768px) {
        #khoahoc .owl-carousel .owl-stage-outer .owl-stage {
          width: 30px; } }
      #khoahoc .owl-carousel .owl-stage-outer .owl-stage .owl-item {
        width: 250px; }
        @media screen and (max-width: 768px) {
          #khoahoc .owl-carousel .owl-stage-outer .owl-stage .owl-item {
            width: 200px; } }
        #khoahoc .owl-carousel .owl-stage-outer .owl-stage .owl-item img {
          margin: 0 auto;
          height: 150px;
          width: 150px; }
          @media screen and (max-width: 768px) {
            #khoahoc .owl-carousel .owl-stage-outer .owl-stage .owl-item img {
              width: 100px;
              height: 100px; } }
  #khoahoc .owl-carousel .owl-nav {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      #khoahoc .owl-carousel .owl-nav {
        width: 120%;
        top: 1%;
        left: -10%; } }
    #khoahoc .owl-carousel .owl-nav .owl-prev, #khoahoc .owl-carousel .owl-nav .owl-next {
      background-color: transparent; }
      #khoahoc .owl-carousel .owl-nav .owl-prev span, #khoahoc .owl-carousel .owl-nav .owl-next span {
        font-size: 40px;
        color: #2e373d; }
  #khoahoc .owl-carousel .owl-dots {
    padding-top: 30px; }
    @media screen and (max-width: 768px) {
      #khoahoc .owl-carousel .owl-dots {
        padding-top: 10px; } }
    #khoahoc .owl-carousel .owl-dots button {
      margin: 10px; }
      #khoahoc .owl-carousel .owl-dots button span {
        background-color: #2e373d;
        border: 1px solid #2e373d; }
    #khoahoc .owl-carousel .owl-dots .active span {
      background-color: transparent;
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5); }

#hocvien .title-hocvien h1 {
  font-size: 40px;
  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase; }
  @media screen and (max-width: 992px) {
    #hocvien .title-hocvien h1 {
      font-size: 1.2rem; } }
  #hocvien .title-hocvien h1::before {
    content: '';
    width: 65px;
    height: 3px;
    background-color: #D4B03B;
    position: absolute;
    bottom: -45%;
    left: 47%; }
#hocvien .hocvien {
  padding-top: 15px; }
  #hocvien .hocvien .itemHocVien {
    padding: 10px;
    position: relative;
    overflow: hidden; }
    #hocvien .hocvien .itemHocVien::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 0;
      top: 0;
      left: 1%;
      background-color: #D4B03B; }
    #hocvien .hocvien .itemHocVien:hover::before {
      animation-name: aniItemHocVien;
      animation-duration: 2s; }
    #hocvien .hocvien .itemHocVien img {
      width: 100%;
      height: 100%; }

/* BEGIN FOOTER */
#footer {
  background-color: #2f2f2f;
  padding: 2rem 0; }
  #footer .footer-left {
    color: #fff;
    font-size: 0.8rem;
    text-align: justify; }
    #footer .footer-left p {
      padding-top: 1rem; }
  #footer .footer-mid h4 {
    color: #D4B03B;
    font-size: 1rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 600; }
  #footer .footer-mid .thongtin {
    list-style: none;
    padding-top: 0.8rem; }
    #footer .footer-mid .thongtin li {
      margin: 0.5rem 0; }
      #footer .footer-mid .thongtin li a {
        color: gray;
        font-size: 0.9rem;
        font-weight: 500; }
        #footer .footer-mid .thongtin li a:hover {
          text-decoration: none;
          color: #fff; }
  #footer .footer-right {
    font-size: 0.8rem;
    color: #acacac; }
    #footer .footer-right h4 {
      color: #D4B03B;
      font-size: 1rem;
      word-spacing: 1px;
      letter-spacing: 1px;
      font-weight: 600; }
    #footer .footer-right ul {
      list-style: none;
      padding-top: 0.8rem; }
      #footer .footer-right ul li {
        margin: 0.5rem 0;
        color: gray; }
        #footer .footer-right ul li span {
          color: #fff;
          font-weight: 700; }

/* END FOOTER */
#pageKhoaHoc {
  padding-top: 60px; }
  #pageKhoaHoc .form-group {
    text-align: right;
    padding-bottom: 30px; }
    #pageKhoaHoc .form-group #sapxepKhoaHoc {
      width: 20%;
      display: inline-block; }
  #pageKhoaHoc .khoahocItem {
    overflow: hidden; }
    #pageKhoaHoc .khoahocItem .imgKhoaHoc {
      width: 100%;
      height: 250px; }
      #pageKhoaHoc .khoahocItem .imgKhoaHoc img {
        width: 100% !important;
        height: 100% !important; }

#chitietkhoahoc {
  padding-bottom: 200px; }
  #chitietkhoahoc .title-chitietkhoahoc {
    background-color: #2e373d;
    padding: 15px 450px 15px 60px;
    color: #fff; }
    @media screen and (max-width: 1200px) {
      #chitietkhoahoc .title-chitietkhoahoc {
        padding: 15px 60px 15px 60px; } }
    #chitietkhoahoc .title-chitietkhoahoc h1 {
      font-size: 40px;
      margin-bottom: 20px; }
      @media screen and (max-width: 1200px) {
        #chitietkhoahoc .title-chitietkhoahoc h1 {
          font-size: 2rem; } }
      @media screen and (max-width: 992px) {
        #chitietkhoahoc .title-chitietkhoahoc h1 {
          font-size: 1.5rem; } }
      @media screen and (max-width: 576px) {
        #chitietkhoahoc .title-chitietkhoahoc h1 {
          font-size: 1.2rem; } }
    #chitietkhoahoc .title-chitietkhoahoc p span {
      text-transform: uppercase;
      color: #D4B03B;
      font-weight: 600; }
  #chitietkhoahoc .body-chitietkhoahoc {
    padding-top: 30px; }
    #chitietkhoahoc .body-chitietkhoahoc .moTaKhoaHoc {
      padding-top: 30px; }
      #chitietkhoahoc .body-chitietkhoahoc .moTaKhoaHoc .nav-pills .nav-item .nav-link {
        color: #2e373d;
        font-weight: 600; }
      #chitietkhoahoc .body-chitietkhoahoc .moTaKhoaHoc .nav-pills .nav-item .active {
        background-color: transparent !important;
        color: #2e373d;
        border-bottom: 4px solid #bb2035; }
      #chitietkhoahoc .body-chitietkhoahoc .moTaKhoaHoc .tab-content {
        padding-top: 15px; }
        @media screen and (max-width: 992px) {
          #chitietkhoahoc .body-chitietkhoahoc .moTaKhoaHoc .tab-content .tab-pane {
            padding: 0; } }
        #chitietkhoahoc .body-chitietkhoahoc .moTaKhoaHoc .tab-content .tab-pane .thongtingiangvien img {
          width: 300px; }
        #chitietkhoahoc .body-chitietkhoahoc .moTaKhoaHoc .tab-content .tab-pane .thongtingiangvien .p3 {
          font-size: 1.2rem;
          margin-top: 10px; }
          #chitietkhoahoc .body-chitietkhoahoc .moTaKhoaHoc .tab-content .tab-pane .thongtingiangvien .p3 i {
            color: #D4B03B; }
    #chitietkhoahoc .body-chitietkhoahoc .ghidanhKhoaHoc {
      position: absolute;
      right: 0;
      top: -55%; }
      @media screen and (max-width: 1200px) {
        #chitietkhoahoc .body-chitietkhoahoc .ghidanhKhoaHoc {
          position: unset;
          padding-top: 30px; } }
      #chitietkhoahoc .body-chitietkhoahoc .ghidanhKhoaHoc .card {
        width: 400px; }
        @media screen and (max-width: 1200px) {
          #chitietkhoahoc .body-chitietkhoahoc .ghidanhKhoaHoc .card {
            width: 300px; } }
        @media screen and (max-width: 992px) {
          #chitietkhoahoc .body-chitietkhoahoc .ghidanhKhoaHoc .card {
            width: 500px; } }
        #chitietkhoahoc .body-chitietkhoahoc .ghidanhKhoaHoc .card img {
          width: 100%;
          height: 100%; }
        #chitietkhoahoc .body-chitietkhoahoc .ghidanhKhoaHoc .card .card-body {
          font-size: 1.2rem; }
          #chitietkhoahoc .body-chitietkhoahoc .ghidanhKhoaHoc .card .card-body .card-title {
            font-size: 1.2rem; }
            @media screen and (max-width: 1200px) {
              #chitietkhoahoc .body-chitietkhoahoc .ghidanhKhoaHoc .card .card-body .card-title {
                font-size: 1rem; } }
            @media screen and (max-width: 992px) {
              #chitietkhoahoc .body-chitietkhoahoc .ghidanhKhoaHoc .card .card-body .card-title {
                font-size: 1.2rem; } }

#gioithieu {
  padding-top: 60px; }

.gt_Part1Left {
  line-height: 25px; }

.gt_Part1Left > p {
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 1rem;
  position: relative; }

.gt_Part1Left > p::before {
  content: "";
  position: absolute;
  background-color: gray;
  height: 5px;
  bottom: 0;
  left: 0;
  width: 20%;
  opacity: 0.4; }

.gt_Part1Left h4 {
  padding-top: 1rem;
  font-size: 1.1rem; }

.gt_Part1Left .fa-angle-double-right {
  font-size: 1.5rem;
  color: brown; }

.gt_Part1Left .content {
  font-size: 1rem;
  position: relative; }

.gt_Part1Left .content > i {
  position: absolute;
  top: 0;
  left: 0; }

.gt_Part1Left .content p {
  margin-left: 5%; }

.gt_Part1Left .content p > i {
  color: var(--fontDiemUuViet); }

.gt_Part1Right {
  position: relative;
  height: 600px; }

.gt_Part1RightImg {
  background-image: url(../img/GT1.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 80%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }

.gt_Part2 {
  /* font-size: 1.4rem; */
  padding: 1rem 4rem; }

.gt_Part2 p {
  font-size: 1.4rem;
  font-weight: 500; }

.gt_Part2 p:last-child {
  color: brown; }

.gt_Part3Left {
  padding-top: 4rem;
  padding-left: 0; }

.p1 {
  margin-bottom: 0; }

.gt_Part3Left .s1 {
  font-weight: 500; }

.gt_Part3Right {
  padding-top: 4rem;
  padding-right: 0; }

.gt_Part3Right .p2 {
  font-size: 1rem;
  font-weight: 600; }

.gt_Part3Right .p2:nth-child(2), .gt_Part3Right .p2:nth-child(3) {
  color: brown;
  margin-bottom: 0; }

.user .row .title-User {
  margin: 0 auto;
  padding-top: 30px;
  z-index: 100; }
  .user .row .title-User .userImg {
    height: 200px;
    width: 200px;
    padding: 10px;
    border: 1px solid #2e373d;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden; }
  .user .row .title-User h1 {
    margin-top: 10px;
    font-size: 2rem; }
@media screen and (max-width: 768px) {
  .user .content {
    padding: 0; } }
.user .content #home {
  height: 600px; }
.user .content #listKH .khoahocItem .imgKhoaHoc {
  width: 350px;
  height: 250px; }
  .user .content #listKH .khoahocItem .imgKhoaHoc img {
    width: 100%;
    height: 100%; }
.user .content #ttTaiKhoan .row {
  padding-bottom: 100px; }
  .user .content #ttTaiKhoan .row .form-group {
    margin-bottom: 60px; }
    .user .content #ttTaiKhoan .row .form-group input {
      display: inline;
      width: 60%;
      float: right;
      outline: none; }
      .user .content #ttTaiKhoan .row .form-group input:focus {
        box-shadow: unset; }
  .user .content #ttTaiKhoan .row .right .form-group:nth-child(2) {
    padding-right: 160px; }
    @media screen and (max-width: 1200px) {
      .user .content #ttTaiKhoan .row .right .form-group:nth-child(2) {
        padding-right: 110px; } }
    @media screen and (max-width: 992px) {
      .user .content #ttTaiKhoan .row .right .form-group:nth-child(2) {
        padding-right: 35px; } }
    @media screen and (max-width: 768px) {
      .user .content #ttTaiKhoan .row .right .form-group:nth-child(2) {
        padding-right: 150px; } }
    .user .content #ttTaiKhoan .row .right .form-group:nth-child(2) .form-check {
      display: inline;
      float: right;
      margin: 0 20px; }
.user .content #doiMKUser .row {
  padding-bottom: 100px; }
  .user .content #doiMKUser .row .form-group {
    margin-bottom: 60px; }
    .user .content #doiMKUser .row .form-group input {
      display: inline;
      width: 60%;
      float: right;
      outline: none; }
      .user .content #doiMKUser .row .form-group input:focus {
        box-shadow: unset; }

#pageLienHe {
  background-color: #f8f9fa;
  padding: 30px; }
  #pageLienHe .left h1 {
    color: #bb2035;
    text-align: center;
    word-spacing: 10px;
    letter-spacing: 10px;
    position: relative; }
    #pageLienHe .left h1::before {
      content: "";
      width: 30%;
      height: 5px;
      background-color: #bb2035;
      position: absolute;
      bottom: -35%;
      left: 32%; }
  #pageLienHe .left .input {
    max-width: 100%; }
    #pageLienHe .left .input .input__field {
      padding-top: 20px;
      padding-bottom: 20px; }
  #pageLienHe .left #textTuVan {
    width: 100% !important; }

/*# sourceMappingURL=main.css.map */
