#introduce{
    padding-top: $pd-8;
    #demo{
        .carousel-item{
            .introduce-text{
                h3{
                    @extend .text-before;
                }
            }
            .introduce-img{
                text-align: center;
                opacity: 1;
                img{
                    padding-top: $pd-7;
                    opacity: 0;
                    transition: all 1s                ;
                    -webkit-transition: all 1s                ;
                    -moz-transition: all 1s                ;
                    -ms-transition: all 1s                ;
                    -o-transition: all 1s                ;
}
            }
        }
        .active {
            .introduce-img>img {
                opacity: 1;
            }
        }
        .introduce-icon{
            height: 100px;
            width: 50%;
            .carousel-control-prev, .carousel-control-next{
                width: 95%;
                opacity: 1;
                top : 64%;
                bottom: unset;
                justify-content: flex-start;
            }
            .carousel-indicators{
                bottom: unset;
                top: 70%;
                margin-left: unset;
                justify-content: flex-start;
                li{
                height: 15px;
                width: 15px;
                background-color: transparent;
                border: 1px solid $color-gray;
                border-radius: 50%            ;
                -webkit-border-radius: 50%            ;
                -moz-border-radius: 50%            ;
                -ms-border-radius: 50%            ;
                -o-border-radius: 50%            ;
                }
                .active{
                    background-color: $color-gray;
                }
            }
        }
    }
}