#ph-right-way{
    padding-top: $pd-9;
    .ph-right-way_text{
        h2{
            @extend .text-before;
        }
        p{
            letter-spacing: 0.2px;
            margin-bottom: $mg-7;
        }
    }
}