#testimonials{
    background-image: linear-gradient(to bottom, $color-white, $color-light 22%, $color-ghostwhite);
    padding-top: $pd-7;
    padding-bottom: $pd-8; 
    .slider{
        width: 50%;
        max-width: 700px;
        margin: 0 auto;
        position: relative;
        .slides{
            width: 70%;
            margin: 0 auto;
            height: 300px;
            .slide{
                display: flex !important;
                justify-content: center;
                align-items : center;
                height: 350px;
                outline: 0 !important;
                img{
                    border: 5px solid $color-white;
                    border-radius: 50%                ;
                    -webkit-border-radius: 50%                ;
                    -moz-border-radius: 50%                ;
                    -ms-border-radius: 50%                ;
                    -o-border-radius: 50%                ;
                }
            }
            .slick-center{
                img{
                    transform:   scale(1.4)              ;
                    -webkit-transform:   scale(1.4)              ;
                    -moz-transform:   scale(1.4)              ;
                    -ms-transform:   scale(1.4)              ;
                    -o-transform:   scale(1.4)              ;
}
            }
        }
        .captions{
            .caption{
                text-align: center;
                h1{
                    margin-top: $mg-3;
                }
                p {
                    margin: $mg-3 0;
                }
            }
            .slick-dots{
                li{
                    width: 15px!important;
                    height:  15px!important;
                    border: 1px solid $color-grey;
                    border-radius: 50%            ;
                    -webkit-border-radius: 50%            ;
                    -moz-border-radius: 50%            ;
                    -ms-border-radius: 50%            ;
                    -o-border-radius: 50%            ;
                    button{
                        &::before{
                            color: unset;
                        }
                    }
                }
                .slick-active{
                    background-color: $color-grey;
                }
            }
        }
        .pagination{
            display: flex;
            margin-top :2px;
            position: absolute;
            top:32%;
            left: 0;
            width: 100%;
            justify-content: space-between;
            .slick-arrow{
                cursor: pointer!important;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                margin-left: 2px;
            }
        }
    }
}