.button-white{
    border: 1px outset $color-blue;
    padding: $pd-2 $pd-6!important;
    background-color: $color-white;
    color: $color-blue;
}

.btn-google-play{
    @extend .bg-img;
    height: 50px;
    width: 170px;
    background-image: url(../img/google-play-button.svg);
    margin-top: $mg-3;
}

.btn-read{
    font-size: $fs-1;
    padding: $pd-2 $pd-4;
    border: 1px solid $color-blue;
    color: $color-blue-2;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    &:hover{
        text-decoration: none;
        color: $color-blue-2;
    }
}

.btn-subscribe{
    @include text($color-white,$fs-1,$fw-bold);
    border-radius: 2px;
    background-image: linear-gradient(to bottom, $color-blue, $color-blue-2);
    box-shadow: 0 2px 10px 0 $color-violet;
    border: 0px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-left: $mg-0*-1;
    padding: $pd-2 $pd-6 $pd-2 $pd-6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    height: 44px;
}


