.btn{
  font-size: $fs-2;
  padding: $pd-0 $pd-1;
}
.txt{
  color: $color-black;
  font-size: $fs-1;
  font-weight: $fw-normal;
}
.intro__img{
  height: 350px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.product__item{
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}